body{
    background-color: blanchedalmond;
    text-align: center;
    font-family: sans-serif;
}
form{
    justify-items: center;
    display: inline-block;
    border: 2px solid black;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    width: 25%;
   
}
input{
    display: flex;
    width: 55%;
    margin-left:38%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
    
}
.btn{
    padding-top: 10px;
    float: right;
    width: 25%;
   
    
}
.btn :hover{
    background-color: rgb(238, 113, 238);
    cursor: pointer;
    transition: 1s;
}